<!doctype html>
<title>{% block title %}{% endblock %} - Security Checks</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
 
  {% endfor %}
  {% block content %}{% endblock %}
     
    {{ table | safe }}
    {{ sshtable | safe }}
  
</section>
